html {
	position: relative;
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}


body {
	margin-bottom: 60px; /* Margin bottom by footer height */
	padding-top: 54px;
}

.navbar-brand img {
	width: 200px;
}

@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}

/* Required icon */
.requiredIcon {
	color: red;
}

/* Suggestion list styles */
ul.suggestionsList {
	background-color: #eee;
	cursor: pointer;
	border-radius: 3px;

}

ul.suggestionsList li {
	padding: 12px;

}

/* End Suggestion list styles */


/* Changing the bootstrap table stripe colors to red */
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #ecf9ec;
}

/* Changing the background color for tab/pills */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #ff6707;
}

/* Display the suggestions list on top of other elements */
.customListDivWidth {
	position: absolute;
	z-index: 500;
	width: 100%;
}

/* .dataTables_wrapper .dt-buttons {
  float:none;
  text-align:center;
} */

.blueText {
	color: #2FA4E7;
}
