<option selected value="Thimphu">Thimphu</option>
<option value="Punakha">Punakha</option>
<option value="Paro">Paro</option>
<option value="Wangdue Phodrang">Wangdue Phodrang</option>
<option value="Haa">Haa</option>
<option value="Gasa">Gasa</option>
<option value="Trongsa">Trongsa</option>
<option value="Sarpang">Sarpang</option>
<option value="Zhemgang">Zhemgang</option>
<option value="Bumthang">Bumthang</option>
<option value="Mongar">Mongar</option>
<option value="Lhuentse">Lhuentse</option>
<option value="Samdrup Jongkhar">Samdrup Jongkhar</option>
<option value="Trashigang">Trashigang</option>
<option value="Samtse">Samtse</option>
<option value="Chhukha">Chhukha</option>
<option value="Dagana">Dagana</option>
<option value="Tsirang">Tsirang</option>
<option value="Tashiyangtse">Tashiyangtse</option>
<option value="Pemagatshel">Pemagatshel</option>
